body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}

ul select {
  padding: 5px;
  width: 80px;
}

.navbar--container {
  background-color: #80A1C1;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px white;
}

.navbar-dropdown {
  position: absolute;
  right: 10px;
  top: 75px;
  z-index: 2;
  color: #80A1C1;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #80A1C1;
  border-radius: 10px 0px 10px 10px;
  background-color: white;
}

.navbar-dropdown:before {
  content: '';
  position: absolute;
  top: -8.5px;
  right: 3px;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  background-color: white;
  border-left: 1px solid #80A1C1;
  border-top: 1px solid #80A1C1;
}

.navbar-dropdown li {
  padding: 10px;
}

.navbar-dropdown-options li:hover {
  cursor: pointer;
}

.user-photo {
  border: solid 2px white ;
  border-radius: 50%;
  height: 50px;
  margin: 10px;
}

.filter--container {
  position: absolute;
  left: 419px;
  width: 40%;
  margin: auto;
  background-color: #E7ECEF;
  border: 2.5px solid #80A1C1;
  border-radius: 10px;
  margin-top: 10px;
  z-index: 1
}

.filter--container-hidden {
  display: none;
}

.filter-header {
  text-align: center;
}

.filter-options {
  display: flex;
  justify-content: space-between;
}

.filter-search-btn {
  margin: auto;
  width: 50%;
  text-align: center
}

.search-btn {
  padding: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0.5px solid #80A1C1;
  border-radius: 60%;
  background-color: #80A1C1;
  color: white;
  width: 100px;
  font-size: 16px;
}

.search-btn:hover {
  cursor: pointer;
}

.footer--container {
  background-color: #80A1C1;
  border-top: solid 2px white;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

.footer-text {
  color: white;
  text-align: center;
  font-size: 14px;
}

.arrow-container {
  display: flex;
  justify-items: center;
  margin: 0px 10px;
}

.left-arrow {
  border: solid #80A1C1 ;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.back-button {
  margin-left: 0px;
  font-size: 18px;
  color: #80A1C1;
  text-decoration: #80A1C1 underline;
  background-color: white;
  border: none;
  cursor: pointer;
}

.user-container {
  width: 40%;
  margin: auto;
  border: solid 1px #80A1C1;
  border-radius: 10px;
  height: 310px;
}

.user-profile-title {
  text-align: center;
}

.user-container li {
  padding: 10px;
  margin-bottom: 10px;
}

.user-profile-edit-btn {
  margin-right: 5px;
  padding: 12px;
  border: 0.5px solid #80A1C1;
  border-radius: 60%;
  background-color: #80A1C1;
  color: white;
  width: 150px;
  font-size: 16px;
  align-self: flex-end;
}

.user-profile-edit-btn:hover {
  cursor: pointer;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.signup-container {
  width: 40%;
  margin: auto;
  margin-top: 20px;
  border: solid 1px #80A1C1;
  border-radius: 10px;
  padding: 10px;
}

.signup-title {
  text-align: center;
}

.signup-inputs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.signup-inputs label {
  font-weight: 300;
}

.signup-inputs input {
  width: 50%;
  padding: 5px;
  margin: 5px 0px 15px 0px;
  justify-content: center;
}

.signup-btn {
  margin: auto;
  padding: 12px;
  border: 0.5px solid #80A1C1;
  border-radius: 60%;
  background-color: #80A1C1;
  color: white;
  width: 150px;
  font-size: 16px;
  align-self: flex-end;
}

.signup-btn:hover {
  cursor: pointer;
}

.login-container {
  width: 40%;
  margin: auto;
  margin-top: 20px;
  border: solid 1px #80A1C1;
  border-radius: 10px;
  padding: 10px;
}

.login-title {
  text-align: center;
}

.login-inputs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.login-inputs input {
  width: 50%;
  padding: 5px;
  margin: 5px 0px 15px 0px;
  justify-self: center;
}

.login-btn {
  margin: auto;
  padding: 12px;
  border: 0.5px solid #80A1C1;
  border-radius: 60%;
  background-color: #80A1C1;
  color: white;
  width: 150px;
  font-size: 16px;
}

.login-btn:hover {
  cursor: pointer;
}

.login-status {
  color: red;
  font-weight: bold;
  text-align: center;
}

.create-profile {
  font-size: 12px;
  font-weight: normal;
}

.create-profile span {
  font-size: 14px;
  font-weight: bolder;
}

.create-profile span:hover {
  cursor: pointer;
}

